.container {
    background-color: #D3D3D3;
    position:relative;
    width:1180px;
    height:600px;
    margin:auto;
    left:0;
    right:0;
    top:65px;
    display:block;
  }
  
  .hide-container{
    display:none;
  }
  