<div class="sales-container">
    <div class="car-list-container">
        <mat-list class="list-of-cars">
            <mat-list-item *ngFor="let car of carStock; let i = index" (click)="fillForm(i)" class="choices">
                {{car.plate}} - ${{car.price}}
            </mat-list-item>
        </mat-list>
    </div>
    <div class="car-sell-container">
        <div>
            <mat-form-field>
                <mat-label>SSN</mat-label>
                <input matInput [(ngModel)]='ssn' />
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Plate</mat-label>
                <input matInput [(ngModel)]='plate' />
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Price</mat-label>
                <input matInput [(ngModel)]='price' />
            </mat-form-field>
        </div>
        
        <button mat-stroked-button color="primary" (click)="submitCarTransfer()">Primary</button>
    </div>

</div>